div{
    margin: 5%;
 
}
h1{
text-align: center;
font-size: 70px;
}
#img3{
    border-radius: 50%;
    width: 340px;
    height: 340px;
}
img{
    border-radius:50%;
    width:  200px;
    height: 200px;
}
li{
    font-weight: bold;
}
hr{
    margin-bottom: 3%;
    height: 5px;
    background-color: black;
}
.words{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
a:link { 
    color: blue; 
    text-decoration: none;

}
a:visited { 
     color: lightblue; 
    }
a:hover { 
    color: blue; 
    text-decoration: underline;
}
a:active { 
    color: orange; 
}
a:focus { 
   color: orange;
 }
